*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #D7D7D7;
}
main{
    height: 900px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

header h1{
    letter-spacing: 3px;
    text-transform: uppercase;
}

form input, button{
    outline: none;
    border: none;
    padding: 5px;
}
form input{
    width: 200px;
    height: 24px;    
    outline: none;
    border: none;
}
form button{
    min-width: 80px;
    cursor: pointer;
}

section > ol{
    margin: 0 auto;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    
}
section ol li{
    cursor: pointer;
    transition: all ease-in-out .2s;

}

section ol li:hover{
    transform: scale(1.1);
}

.pronta{
    text-decoration: line-through;
    color: #979797;
    user-select: none;    
    cursor:text;
}
.pronta:hover{
    transform: none;    
}